body {
  font-family: Roboto;
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

#explication {
  font-size: 24px;
}

.fields {
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  font-size: 18px;
  font-family: Roboto;
}

input#number {
  width: 70px;
}

select {
  font-size: 18px;
  font-family: Roboto;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
}

button {
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 10px;
  background-color: #87cefa;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #1e90ff;
  transition: 0.7s;
}

#popup {
  font-weight: bold;
  color: red;
}
