<body>
  <div>
    <h1 style="display: inline-block">Générateur de devis</h1>
    <div
      style="
        display: inline-block;
        vertical-align: top;
        margin-left: 100px;
        margin-top: 20px;
      "
    >
      <button
        id="download"
        (click)="checkPrestationAndProducts()"
        [disabled]="createForm.invalid || isNextDisabled"
      >
        Télécharger le devis
      </button>
      <span id="popup" hidden="true" style="margin-left: 20px"
        >Veuillez sélectionner une prestation</span
      >
      <!-- <span id="popup2" hidden="true"
        >Veuillez sélectionner au moins un produit</span
      > -->
    </div>
  </div>
  <p id="explication">
    Grâce à cet outil, vous pouvez générer un devis au format .pdf et l'envoyer
    directement au client.
  </p>
  <form [formGroup]="createForm">
    <div class="fields">
      <label for="date">Date de prestation : </label>
      <input type="date" id="date" formControlName="date" />
    </div>
    <div class="fields">
      <label for="number">Nombre de convives : </label>
      <input
        type="number"
        min="0"
        oninput="this.value = 
      !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
        id="number"
        formControlName="number"
      />
    </div>
    <div class="fields">
      <label for="place">Lieu : </label>
      <input type="text" id="place" formControlName="place" />
    </div>
    <div class="fields">
      <label for="time">Heure : </label>
      <input type="time" id="time" formControlName="time" />
    </div>
    <div class="fields">
      <label for="prestation">Prestation : </label>
      <!-- <input type="text" id="prestation" required /> -->
      <select name="prestation" id="prestation" required>
        <option selected="true" value="none" disabled="disabled">
          -- Choisir une prestation --
        </option>
        <option>Pause café</option>
        <option>Pause après-midi</option>
        <option>Petit déjeuner</option>
        <option>Cocktail</option>
        <option>Buffet</option>
        <option>Plateau repas</option>
      </select>
    </div>
    <div class="fields">
      <label for="product">Produit : </label>
      <select
        [(ngModel)]="classReference.selectedProducts"
        name="product"
        id="product"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onProductsSelected()"
      >
        <option
          selected="true"
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          -------- Choisir un produit --------
        </option>
        <!-- <option *ngFor="let product of products" [ngValue]="product">
          {{ product.name + " - " + product.price.toFixed(2) + " €" }}
        </option> -->
        <option
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          Petit déjeuner
        </option>
        <option
          *ngFor="let produitPetitDejeuner of produitsPetitDejeuner"
          [ngValue]="produitPetitDejeuner"
        >
          {{
            produitPetitDejeuner.name +
              " - " +
              produitPetitDejeuner.price.toFixed(2) +
              " €"
          }}
        </option>
        <option
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          Boissons (TVA 10 %)
        </option>
        <option *ngFor="let boisson10 of boissons10" [ngValue]="boisson10">
          {{ boisson10.name + " - " + boisson10.price.toFixed(2) + " €" }}
        </option>
        <option
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          Boissons (TVA 20 %)
        </option>
        <option *ngFor="let boisson20 of boissons20" [ngValue]="boisson20">
          {{ boisson20.name + " - " + boisson20.price.toFixed(2) + " €" }}
        </option>
        <option
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          Buffet
        </option>
        <option
          *ngFor="let produitBuffet of produitsBuffet"
          [ngValue]="produitBuffet"
        >
          {{
            produitBuffet.name + " - " + produitBuffet.price.toFixed(2) + " €"
          }}
        </option>
        <option
          [ngValue]="undefined"
          disabled="disabled"
          style="text-align: center"
        >
          Personnel
        </option>
        <option
          *ngFor="let produitPersonnel of produitsPersonnel"
          [ngValue]="produitPersonnel"
        >
          {{
            produitPersonnel.name +
              " - " +
              produitPersonnel.price.toFixed(2) +
              " €"
          }}
        </option>
      </select>
    </div>
    <!-- <div class="fields" id="selection" hidden="true">
      Produits sélectionnés: {{ classReference.selectedProductsName }}
    </div> -->
    <table id="selectionTable" hidden="true" border="1">
      <tr>
        <th>Désignation</th>
        <th>Commentaire</th>
        <th>Prix HT</th>
        <th>Quantité</th>
        <th>TVA</th>
        <th>Total HT</th>
        <th>Actions</th>
      </tr>
      <tr hidden="true">
        <td>{{ classReference.selectedProductsName }}</td>
        <td><textarea id="comment"></textarea></td>
        <td>{{ classReference.selectedProductsPrice }} €</td>
        <td>
          <!-- <input
            type="number"
            [(ngModel)]="qte"
            id="quantity"
            min="1"
            oninput="this.value = 
          !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null"
            formControlName="quantity"
          /> -->
          <input
            type="number"
            id="quantity"
            min="1"
            oninput="this.value = 
          !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null"
          />
        </td>
        <td>{{ classReference.selectedProductsTax }} %</td>
        <td id="totalHT"></td>
        <td></td>
      </tr>
    </table>
    <!-- <table id="totalTable" hidden="true">
      <tr>
        <td style="font-weight: bold">Total HT</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight: bold">TVA 10%</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight: bold">TVA 20%</td>
        <td></td>
      </tr>
      <tr>
        <td style="font-weight: bold">Total TTC</td>
        <td style="font-weight: bold"></td>
      </tr>
    </table> -->
    <div class="fields">
      <label for="name">Nom du client : </label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div class="fields">
      <label for="service">Service du client : </label>
      <input type="text" id="service" formControlName="service" />
    </div>
    <div class="fields">
      <label for="po">P.O. : </label>
      <input type="text" id="po" formControlName="po" />
    </div>
    <div class="fields">
      <label for="email">Adresse e-mail du client : </label>
      <input type="email" id="email" />
    </div>
  </form>
</body>
