<form>
  <!-- <div>
    <label for="id">N° de devis : </label>
    <input type="text" id="idInput" disabled />
  </div> -->
  <div>
    <label for="date">Date de prestation : </label>
    <input type="date" id="date" required />
  </div>
  <div>
    <label for="number">Nombre de convives : </label>
    <input type="number" id="number" required />
  </div>
  <div>
    <label for="place">Lieu : </label>
    <input type="text" id="place" required />
  </div>
  <div>
    <label for="time">Heure : </label>
    <input type="time" id="time" required />
  </div>
  <div>
    <label for="prestation">Prestation : </label>
    <input type="text" id="prestation" required />
  </div>
  <div>
    <label for="name">Nom du client : </label>
    <input type="text" id="name" required />
  </div>
  <div>
    <label for="service">Service du client : </label>
    <input type="text" id="service" required />
  </div>
  <div>
    <label for="po">P.O. : </label>
    <input type="text" id="po" required />
  </div>
  <div>
    <label for="email">Adresse e-mail du client : </label>
    <input type="email" id="email" required />
  </div>
</form>
<button (click)="downloadInvoice()">Télécharger le devis</button>
